.notes-app {
	width: 50%;
	margin: 5px;
}

.notes-app h1 {
	margin: 0 0 20px;
	padding: 4px;
	font-size: 24px;
	border-bottom: 1px solid;
}

.notes-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 8px;
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border: 1px solid;
	outline: none;
	resize: vertical;
}

.notes-form.no-resize {
	resize: none;
}

.button-row {
	margin-bottom: 8px;
}

.button-row button {
	align-self: flex-start;
	padding: 8px 12px;
	font-size: 14px;
	color: #fff;
	background: #000;
	border: 1px solid;
	border-radius: 0;
	cursor: pointer;
}

.notes-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.notes-list li {
	display: flex;
	align-items: center;
	margin: 3px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid;
}

.notes-list strong {
	justify-content: center;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.notes-list button {
	margin-left: 8px;
	padding: 4px 8px;
	font-size: 12px;
	color: #000;
	background: #fff;
	border: 1px solid;
	border-radius: 0;
	cursor: pointer;
}

